Вообще вот неполный списочек того, что, на мой взгляд, будет крайне полезно при написании казуалки (пайней мере, я стараюсь это реализовать у себя): 
- Правильная последовательность создания окна и установки графического разрешения, чтобы иконки на рабочем столе не разъезжались после запуска этого приложения; 
- Корректное восстановление устройства (Win + L, уход/выход из спящего/ждущего режима); 
- Установка полноэкранного режима с сохранением пропорций; 
- Возможность смены разрешения и оконного/полноэкранного режима в любой момент времени (в том числе и в момент загрузки данных); 
- Переключение на другие задачи из любого положения (в момент загрузки данных, из полноэкранного режима); 
- Корректная остановка таймера при перетаскивании/сворачивании приложения (чтобы не было скачков, необработанных/неотрисованных интервалов времени); 
- Разделённый refresh и draw, чтобы по время перетаскивания окно обновляло своё содержимое (не критично, но это вид качественного и аккуратного приложения, а потому крайне желательно); 
- Запуск без звуковой карты (+ возможность узнать об этом); 
- Запуск без мыши (+ возможность узнать об этом); 
- Возможность загрузить и установить свой hardwar'ный курсор из любой картинки принятого в движке формата (+ мелкий функционал по типу показать/спрятать hardware мышь); 
- Возможность ограничивать перемещение мышки рамками экрана (в некоторых играх это не нужно, а в некоторых требуется как воздух, речь исключительно о fullscreen-режиме); 
- Корректная работа на многомониторных системах; 
- Наличие параметра при инициализации: отдавать управление screensaver'у или нет, задаётся разработчиком (смотреть в сторону SPI_SCREENSAVERRUNNING); 
- Корректная и идентичная работа всех подсистем на Windows XP, Windows  Vista, Windows 7 - обязатательно, поскольку это важно для издателя. А уже Mac OS, *nix - по желанию/наличию возможности у разработчика; 
- Поддержка unicode (хотя бы необходимый для локализации минимум: загрузка текста, его ввод с клавиатуры, вывод на экран); 
- Загрузка всех видов данных в фоне в любой игровой момент (не только при запуске приложения), возможность отмены начатой загрузки, получение данных о прогрессе загрузки; 
- Корректная выгрузка любых данных в любой момент; 
- Модуль для работы с конфигурацией приложения, профилями игроков (одинаковый интерфейс работы с ним на всех заявленных платформах); 
- Функционал для возможности изменять набор клавиш: то есть функции для их чтения и подмены стандартных; 